In [1]:
import pandas as pd

In [2]:
PATH ='C:/Users/user/Desktop/mlcourse.ai-master/data/athlete_events.csv'

In [158]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
data['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [6]:
data[data['Year'] == 1996].groupby(['Sex'])['Age'].min()

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

In [7]:
df1 = data[(data['Year'] == 2000) & (data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')].drop_duplicates('Name')
total_rows1=len(df1.axes[0])

df2 = data[(data['Year'] == 2000) & (data['Sex'] == 'M')].drop_duplicates('Name')
total_rows2=len(df2.axes[0])

percentage = (total_rows1/total_rows2)*100
print('Percentage of gymnasts among men = {}'.format(round (percentage, 1)))

Percentage of gymnasts among men = 1.5

In [8]:
GirlsBasket = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')].drop_duplicates('Name').groupby(['Year'])['Height'].describe()


print ('mean = {}'.format(round(GirlsBasket.iloc[0]['mean'],1)))
print ('standard deviation = {}'.format(round(GirlsBasket.iloc[0]['std'],1)))

mean = 182.4
standard deviation = 9.1

In [53]:
res = data.loc[data[data['Year'] == 2002][['Weight', 'Sport']]['Weight'].idxmax()][['Sport', 'Weight']]

print('Sport = {}'.format(res.iloc[0]))
print('Weight = {}'.format(res.iloc[1]))

Sport = Bobsleigh
Weight = 123.0

In [56]:
data[data['Name'] == 'Pawe Abratkiewicz'].nunique()['Year']

3

In [73]:
data[(data['Year'] == 2000) & (data['Team'] == 'Australia') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Silver')].count()['Medal']

2

In [84]:
#Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? 
#Do not consider NaN values in Medal column.

Switzerland = data[(data['Year'] == 2016) & (data['Team'] == 'Switzerland')].count()['Medal']
Serbia = data[(data['Year'] == 2016) & (data['Team'] == 'Serbia')].count()['Medal']

if (Switzerland > Serbia):
    print('Yes')
else:
    print('No')

No

In [156]:
#What age category did the fewest and the most participants of the 2014 Olympics belong to?
#res = data.loc[data[data['Year'] == 2002][['Weight', 'Sport']]['Weight'].idxmax()][['Sport', 'Weight']]
#GirlsBasket = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')].drop_duplicates('Name').groupby(['Year'])['Height'].describe()
#iloc[0] - без мусора

all_ages = data[data['Year'] == 2014].drop_duplicates('Name')[['Age']]

count_15_24 = all_ages[(all_ages['Age'] >= 15) & (all_ages['Age'] < 25)].count().iloc[0]
count_25_34 = all_ages[(all_ages['Age'] >= 25) & (all_ages['Age'] < 35)].count().iloc[0]
count_35_44 = all_ages[(all_ages['Age'] >= 35) & (all_ages['Age'] < 45)].count().iloc[0]
count_45_55 = all_ages[(all_ages['Age'] >= 45) & (all_ages['Age'] < 55)].count().iloc[0]

print('Count from 15 to 24 = {}'.format(count_15_24))
print('Count from 25 to 34 = {}'.format(count_25_34))
print('Count from 35 to 44 = {}'.format(count_35_44))
print('Count from 45 to 55 = {}'.format(count_45_55))

Count from 15 to 24 = 1193
Count from 25 to 34 = 1396
Count from 35 to 44 = 150
Count from 45 to 55 = 4

In [194]:
#Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?

summer = data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')].count().iloc[0]
winter = data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].count().iloc[0]

say1 = 'Yes' if summer > 0 else 'No'
say2 = 'Yes' if winter > 0 else 'No'

print ('Summer is', say1,', Winter is', say2)

Summer is No , Winter is Yes

In [215]:
#What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

s2016 = data[(data['Year'] == 2016)]['Sport'].unique()
s1995 = data[(data['Year'] == 1995)]['Sport'].unique()

res = abs(len(s1995)-len(s2016))
print(res)

34

In [221]:
len(data[(data['Year'] == 2016)]['Sport'].unique())

34